h2 = link_to article.title, article_path(article), {title: article.title}

small
  em = article.timestamp

p = truncate(strip_tags(article.body), length: 100)

p = link_to 'Read more.. ', article_path(article), {title: article.title}

hr
