# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: some_username
  password: some_password
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: infinite_scrolling_database
